<html>

<head>
<title>Glossary</title>
</head>

<body>
<h1>Glossary</h1>
<p>All descriptive results and reliability values are taken from the original studies. The reference to the corresponding srudy can be found by clicking on <i>Reference 1</i>.
</p>

<p>All default item numbers from tests are how they were reported in the original study.
</p>

</body>
</html>
