<html>

<head>
<title>Introduction</title>
</head>

<body>
<h1>Introduction</h1>
<p>This page allows you to gather information on all tests and questionnaires
in the LongGold test battery. Select the information you need in the sidebar
and choose the tests and questionnaires on the correpsonding tabs.</p>

</body>
</html>
